.hero-text {
    text-align: center;
    padding: 0px 100px 100px 100px;
}
.hero-text p {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 20px;
}
.RatioImg__Wrapper-sc-xinq7a-1.kOipOR.ProjectHero__HeroImage-sc-1g1pu7g-4.dVwiyk {
    display: none !important;
}
.hero-video {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  
  .hero-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
.RatioImg__Wrapper-sc-xinq7a-1.kOipOR.ProjectHero__HeroImage-sc-1g1pu7g-4.dVwiyk {
    display: none !important;
}
li#franchising-item {
    border-bottom: none;
    padding-bottom: 20px;
}
.fran-item-div p {
    border-bottom: 1px solid #767676;
    padding-bottom: 20px;
}
li#electro-manufacturing {
    border-bottom: none;
    padding-bottom: 20px;
}
.electro-item-div p {
    border-bottom: 1px solid #767676;
    padding-bottom: 20px;
}
.ProjectText__Content-sc-kjf6pp-0.tTPTl p {
    font-size: 1.5rem;
}
.list-1 li {
    padding-bottom: 20px;
}
li#flexible-templates {
    display: none;
}
.list2-item-div {
    border-bottom: 1px solid #767676;
    padding-bottom: 20px;
}
.list2-item-div ul li {
    padding-bottom: 20px;
}
li#list-2 {
    border-bottom: none;
}
.bhfIPt {
    display: none;
}
.gVHMdY {
    display: none;
}
.ChyDg {
    grid-template-columns: auto;

}
@media screen and (min-width: 880px) {
    .fYNjMx {
       max-width: 100%;
    }
}
.dOWsEh {
    display: none;
}
.keXrDM {
    display: none;
}
.t3 {
    background: #000;
    margin-bottom: -40px;
    padding: 150px;
}

@media only screen and (max-width: 768px) {
    .t3 {
        padding: 20px;
    }
    .hero-video {
        height: 30vh !important;
    }
    .footer-text {
        margin-top: 250px;
    }
    
  .ChyDg {
	margin-top: 150px;
}
  }

.fCZlYz {
	display: none;
}